# Review routing for this repository; not an assertion of exclusive copyright.
# Effective enforcement requires protected-branch review rules and this file on
# the base branch. The audit branch alone does not establish that enforcement.
* @antonioclim
